<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.clgl.vehicle.mapper.VehicleMapper">

	<sql id="sql_temp">
		id,ownedId, (select gsmc from tb_company where id= ownedId) as ownedName ,regCompanyName,regName,regNum,txtContactMenber,
		txtContactWay,regAuthority,regDate,carNumber,carNumberTrailer,carType,
		classify,carBrand,carModel,carColor,carVin,carProType,carEngNum,
		carEngModel,carFuelType,carDisplacement,carPower,carManuName,carModality,
		carTreadBe,carTreadAfter,carTireNum,carTireSpe,carNumOfSpring,carAxleDist,
		carAxleNum,carOutLength,carOutWidth,carOutHeight,carContLength,
		carContWidth,carContHeight,carTotalmass,carApproved,carApprGuest,carTrac,
		carCabGuest,carUseNatu,carUseNatuName,carObtWay,carFacDate,carCertDate,
		carImg,carImg2,carImg3,operatorId,operatorName,operatorTime,entryId,entryName,entryTime,depId
	</sql>
	<select id="queryList" resultType="Vehicle" parameterType="hashmap">
		SELECT <include refid="sql_temp"/>  FROM(SELECT A.*,ROW_NUMBER() OVER (ORDER BY regDate DESC) ROWNUM FROM(
			SELECT *  FROM TB_VEHICLE
			<where>
				<if test="carnumber != null and carnumber != ''">
					AND CARNUMBER  LIKE   '%' + #{carnumber}  + '%'
				</if>
				<if test="carUseNatu != null and carUseNatu != ''">
					AND CARUSENATU  = #{carUseNatu} 
				</if>
				<if test="ownedId != null and ownedId != ''">
					AND OWNEDID  = #{ownedId}  
				</if>
				<if test="carVin != null and carVin != ''">
					AND CARVIN  LIKE  '%' + #{carVin}  + '%'
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND CARNUMBER  LIKE + '%' + #{carNumber}  + '%'
				</if>
				
				<if test="depId != null and depId != ''">
					AND DEPID  LIKE   #{depId}  + '%'
				</if>
				<if test="companyid != null and companyid != ''">
					AND ownedId  =   #{companyid}  
				</if>
			</where>
			) A )B
		WHERE ROWNUM &gt; #{startNum} AND ROWNUM &lt;=#{endNum}
	</select>

	<select id="queryListCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(0) FROM TB_VEHICLE
			<where>
				<if test="carnumber != null and carnumber != ''">
					AND carnumber  like   '%' + #{carnumber}  + '%'
				</if>
				<if test="carUseNatu != null and carUseNatu != ''">
					AND CARUSENATU  LIKE   '%' + #{carUseNatu}  + '%'
				</if>
				<if test="ownedId != null and ownedId != ''">
					AND OWNEDID  = #{ownedId}  
				</if>
				<if test="carVin != null and carVin != ''">
					AND CARVIN  LIKE  '%' + #{carVin}  + '%'
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND carNumber  LIKE   '%' + #{carNumber}  + '%'
				</if>
				<if test="depId != null and depId != ''">
					AND DEPID  LIKE   #{depId}  + '%'
				</if>
			</where>
	</select>
	<select id="queryOne" parameterType="hashmap" resultType="vehicle">
		SELECT <include refid="sql_temp"></include> FROM TB_VEHICLE
			<where>
				<if test="id != null and id != ''">
					AND ID  = #{id}
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND CARNUMBER  LIKE  '%' + #{carNumber}  + '%'
				</if>
			</where>
	</select>

	<insert id="save" parameterType="Vehicle">
		INSERT INTO TB_VEHICLE 
		(
			ownedId,regCompanyName,regName,regNum,txtContactMenber,
			txtContactWay,regAuthority,regDate,carNumber,carNumberTrailer,carType,
			classify,carBrand,carModel,carColor,carVin,carProType,carEngNum,
			carEngModel,carFuelType,carDisplacement,carPower,carManuName,carModality,
			carTreadBe,carTreadAfter,carTireNum,carTireSpe,carNumOfSpring,carAxleDist,
			carAxleNum,carOutLength,carOutWidth,carOutHeight,carContLength,
			carContWidth,carContHeight,carTotalmass,carApproved,carApprGuest,carTrac,
			carCabGuest,carUseNatu,carUseNatuName,carObtWay,carFacDate,carCertDate,
			carImg,carImg2,carImg3,operatorId,operatorName,operatorTime,entryId,entryName,entryTime,depId
		)
		VALUES
			(
				#{ownedId},#{regCompanyName},#{regName},#{regNum},#{txtContactMenber},
				#{txtContactWay},#{regAuthority},#{regDate},#{carNumber},#{carNumberTrailer},#{carType},
				#{classify},#{carBrand},#{carModel},#{carColor},#{carVin},#{carProType},#{carEngNum},
				#{carEngModel},#{carFuelType},#{carDisplacement},#{carPower},#{carManuName},#{carModality},
				#{carTreadBe},#{carTreadAfter},#{carTireNum},#{carTireSpe},#{carNumOfSpring},#{carAxleDist},
				#{carAxleNum},#{carOutLength},#{carOutWidth},#{carOutHeight},#{carContLength},
				#{carContWidth},#{carContHeight},#{carTotalmass},#{carApproved},#{carApprGuest},#{carTrac},
				#{carCabGuest},#{carUseNatu},#{carUseNatuName},#{carObtWay},#{carFacDate},CONVERT(varchar(100), GETDATE(), 20),
				#{carImg},#{carImg2},#{carImg3},#{operatorId},#{operatorName},CONVERT(varchar(100), GETDATE(), 20),
				#{entryId},#{entryName},CONVERT(varchar(100), GETDATE(), 20),#{depId}
			)
	</insert>

	<update id="edit" parameterType="Vehicle">
		UPDATE TB_VEHICLE SET OWNEDID=#{ownedId},REGCOMPANYNAME=#{regCompanyName},REGNAME=#{regName},REGNUM=#{regNum},TXTCONTACTMENBER=#{txtContactMenber},
		TXTCONTACTWAY=#{txtContactWay},REGAUTHORITY=#{regAuthority},REGDATE=#{regDate},CARNUMBER=#{carNumber},CARNUMBERTRAILER=#{carNumberTrailer},CARTYPE=#{carType},
		CLASSIFY=#{classify},CARBRAND=#{carBrand},CARMODEL=#{carModel},CARCOLOR=#{carColor},CARVIN=#{carVin},CARPROTYPE=#{carProType},CARENGNUM=#{carEngNum},
		CARENGMODEL=#{carEngModel},CARFUELTYPE=#{carFuelType},CARDISPLACEMENT=#{carDisplacement},CARPOWER=#{carPower},CARMANUNAME=#{carManuName},CARMODALITY=#{carModality},
		CARTREADBE=#{carTreadBe},CARTREADAFTER=#{carTreadAfter},CARTIRENUM=#{carTireNum},CARTIRESPE=#{carTireSpe},CARNUMOFSPRING=#{carNumOfSpring},CARAXLEDIST=#{carAxleDist},
		CARAXLENUM=#{carAxleNum},CAROUTLENGTH=#{carOutLength},CAROUTWIDTH=#{carOutWidth},CAROUTHEIGHT=#{carOutHeight},CARCONTLENGTH=#{carContLength},
		CARCONTWIDTH=#{carAxleNum},CARCONTHEIGHT=#{carContHeight},CARTOTALMASS=#{carTotalmass},CARAPPROVED=#{carApproved},CARAPPRGUEST=#{carApprGuest},CARTRAC=#{carTrac},
		CARCABGUEST=#{carCabGuest},CARUSENATU=#{carUseNatu},CARUSENATUNAME=#{carUseNatuName},CAROBTWAY=#{carObtWay},CARFACDATE=#{carFacDate},
		CARIMG=#{carImg},CARIMG2=#{carImg2},CARIMG3=#{carImg3} ,operatorId=#{operatorId},operatorName=#{operatorName},
		operatorTime=CONVERT(varchar(100), GETDATE(), 20),DEPID=#{depId} WHERE ID = #{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM TB_VEHICLE WHERE ID  = #{id}
	</delete>
</mapper>